.register {
  .register-card {
    width: 700px;
    height: 500px;
    background-color: white;
    .right {
      color: white;
      background: linear-gradient(rgb(90, 8, 116, 0.5), rgb(48, 46, 46, 0.5)),
        url("https://images.unsplash.com/photo-1581081874491-70555d3a5ee0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
      background-size: cover;
    }
  }
}
