.suggestion,.activities,.online{
    box-shadow: 3px -3px 10px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px -3px 10px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -3px 10px -8px rgba(0,0,0,0.75);
}
.rightBar{
    position: sticky;
    top: 56px;
    max-height: calc(100vh - 56px);
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }
}